@import "flex";
@import "variables";

.shopping-cart {

  flex: 1;
  display: flex;

  &--items {
    overflow: auto;
  }

  .mat-icon {
    cursor: pointer;
  }

  &--wrapper {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    flex: 1 0 auto;
  }

  &--total {
    @include shrink-align-end();
    margin-top: $default-margin-size;
  }

  .table-col {
    &--remove {
      flex: 0 0 40px;
      place-content: center flex-end;
    }
  }
}
